body {
    font-family: Arial, sans-serif;
    background-color: rgb(159, 105, 138);
    margin: 50px;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #d2b2c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #111502;
  }
  
  .task-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"], select, input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
  }
  
  input[type="text"]:focus, select:focus, input[type="date"]:focus {
    border-color: #007bff;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #categories, #tasks {
    margin-top: 20px;
  }
  
  h2 {
    color: #122234;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .delete-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .completed-task {
    text-decoration: line-through;
    color: #999;
  }
  